:root{
    --Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
--Dark-gray: hsl(0, 0%, 59%);
}
*{
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Dark-cyan);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    background: #fff;
    width: 325px;
    border-radius: 15px;
    overflow: hidden;


    &-header{
        width: 100%;
        display: block;
    }
    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(153,153,153,0.583);

        &-img{
            border: 5px solid #fff;
            border-radius: 50%;
            margin-top: -40px;
            background: #fff;
    
        }
        &-name{
            font-size: 20px;
            margin-top: 20px;

            span{
                color: var(--Dark-grayish-blue);
                font-weight: 400;
                margin-left: 5px;
            }
        }
        &-pais{
            color: var(--Dark-gray);
            font-size: 15px;
            margin: 0 0 20px;
        }
    }
    &-footer{
        display: flex;
        justify-content: space-around;

        &-social{
            text-align: center;
            margin: 20px 0 ;
            font-weight: 400;

            p{
                letter-spacing: 1px;
                color: var(--Dark-gray);
                margin-top: -5px;
                
            }
            h3{
                margin-top: 30px;
            }
           
        }
    }
}

