@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);
}
body{
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--Very-light-gray);
}
a,a:visited{
   text-decoration: none;
}
figure{
    padding-top: 50px;
}
.container{
    margin-top: 60px;
}
.box{
    position: relative;
    background-color: var(--Bright-orange);
    width: 90%;
    height: 350px;
    transform: translateX(5%);
}
.box--verde{
    background-color: var(--Dark-cyan);
    position: absolute;
    top: 410px;
    width: 86%;
}
.box--verde-fuerte{
    position: absolute;
    top: 760px;
    background-color: var(--Very-dark-cyan);
    width: 86%;
}
.box__textos{
    padding: 0 2.5em;
}
.box__textos h2{
    color: var(--Very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}
.box__textos-parrafo{
    color: var(--Transparent-white);
    font-size: 14px;
}
.box__btn{
    margin-top: 40px;
}
.btn{
    background-color: var(--Transparent-white);
    color: var(--Bright-orange);
    padding: 15px 25px;
    border: 1px solid var(--Transparent-white);
    border-radius: 30px;
    transition: 0.3s ease-in;
}
.btn--verde{
    color: var(--Dark-cyan);
}
.btn--verde-fuerte{
    color: var(--Very-dark-cyan);
}

@media screen and (min-width:768px){
    .container{
        max-width: 100vw;
        display: flex;
        margin-top: 7%;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    .box{
        height: 30em;
    }
    .box--verde{
        position: relative;
        top: 0;
    }
    .box--verde-fuerte{
        position: relative;
        top: 0;
    }
    .box__textos{
        position: relative;
    }
    .box__textos-title h2{
        font-size: 2.5rem;
    }
    .box__btn{
        margin-top: 0;
        position: absolute;
        top: 270px;
    }
    .btn:hover{
        background-color: transparent;
        color: var(--Transparent-white);
    }
}